.forgot {
  height: 100%;
  .forgot-card {
    min-width: 40rem;
    md-card-content {
      margin-bottom: 0;
      h3 {
        margin-top: 7.2rem;
        margin-bottom: 0;
      }
      p {
        margin: 0 0 7.2rem 0;
      }
    }
    md-card-actions {
      padding-bottom: .8rem;
      padding-right: .8rem;
      margin-bottom: 7.2rem;
    }
  }
}
