md-card.job-detail-container {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
  margin: 13.6rem 0 7.2rem 0;
  padding: 7.2rem 4.8rem;
  h1.heading {
    font-size: 4.8rem;
    font-weight: 300;
    margin-bottom: .8rem;
    line-height: 1.2;
    margin-top: 0;
  }
  p.sub-header {
    margin-top: 0;
    color: #9E9E9E;
    font-size: 2.0rem;
  }
  .input-container {
    margin-top: 1.6rem;
  }
  tag-input {
    margin: 0 !important;
  }
  .no-data {
    color: #f44336;
    margin: .8rem 0 0 0;
    font-size: 75%;
  }
}

